// Specific CSS for your home-page
.product-listing {
  margin: 0 auto;
  border: 1px solid #f7f7f7;
  border-radius: 20px;
  background-color: white;
  width: 370px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

  .product-image {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  h1 {
    padding: 20px 10px 0 22px;
    font-size: 19px;
    font-weight: 800;
  }
  .flat-detials {
    font-size: 12.5px;
    padding: 0 0 0 22px;
    font-weight: 500;
  }

  p {
    margin-bottom: 10px;
  }
  .description p {
    font-size: 14px;
    opacity: 0.4;
    padding: 0 25px 20px 22px;
  }

  .description h3 {
    font-size: 20px;
    padding: 0 25px 20px 22px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
